* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #d9cdf7;
  --text-color: #271a45;
}

body {
  background-color: var(--bg-color);
  height: 100vh;

  display: grid;
  place-content: center;
}

body * {
  color: var(--text-color);
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

#Product-img {
  position: relative;
}

#Product-img button {
  position: absolute;
  right: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#Product-img > img {
  width: 449px;
  height: 222px;
  object-fit: cover;
}

h1 {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 12px;
}

button {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

#text button {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  border: 0.5px solid #271a45;
  border-radius: 999px;
  background-color: transparent;
}

#btn-close,
#animated {
  display: none;
}

#app {
  display: flex;
  align-items: center;
  gap: 63px;
}

html.animated img#btn-360,
html.animated img#static {
  display: none;
}

html.animated img#animated,
html.animated img#btn-close {
  display: initial;
}
